<%= render"layouts/navbar" %>
<body class="index-page sidebar-collapse">
  <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('./assets/background/board.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>Les boards</h1>
                <a class="carousel-control-prev" href="<%= kite_index_path %>" role="button" data-slide="prev">
                  <i class="fas fa-caret-square-left" style="font-size:50px"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="<%= surfboard_index_path %>" role="button" data-slide="next">
		  <i class="fas fa-caret-square-right" style="font-size:50px"></i>
                  <span class="sr-only">Next</span>
                </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">

            <div class="navbar navbar-expand-lg bg-info">
              <div class="container">
                <div class="collapse navbar-collapse d-flex justify-content-around">
                  <ul class="navbar-nav">
                    <li class="active nav-item mx-3">
           <%= link_to "menu", board_index_path(anchor: "menu"), class:" nav-link"%>
                     </li>
                    <li class="nav-item mx-3">
           <%= link_to "introduction", board_index_path(anchor: "intro"), class:" nav-link"%>
                    </li>
                    <li class="nav-item mx-3">
           <%= link_to "Tous les twin-tips", board_index_path(anchor: "board"), class:" nav-link"%>
                    </li>
                    <li class="nav-item mx-3">
           <%= link_to "presentation", board_index_path(anchor: "presentation"), class:" nav-link"%>
                    </li>
                    <li class="nav-item mx-3">
           <%= link_to "comparer", board_index_path(anchor: "compare"), class:" nav-link"%>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

    <section id="intro">
    <br><br><br>
      <div class="jumbotron" style="background-image: url(/assets/introtest2.jpg); background-size: 100%;">
        <div class="container for-about">
        <h1>Comment sont fait nos tests</h1>
        </div>
      </div>

      <div class="container tim-container mt-3">
        <h1 class="m-5">Twin-Tip</h1>                              
        <h2><small class="subtitle">La board du kitesurfer</small></h2>
          <div class="row">
            <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
              <div class="text-center">
                <img src="assets/introtestboard.jpg" alt="Rounded Image" class="card img-rounded img-responsive img-dog" style="width:100%">
              </div>
            </div>
            <div class="mt-5 col-md-5 col-sm-12">
              <p>
	C’est à 99 % la planche avec laquelle on a tous débuté le
kitesurf. Ce sera même peut-être la seule et unique board
que vous utiliserez tout au long de votre «carrière» de rider.
Ce n’est donc pas un invetsissement à prendre à la légère
et chaque détail compte pour que l’ensemble réponde à
vos attentes.
Les marques ont développé une planche d’un côté et un
équipement de l’autre afin d’avoir le plus de confort et
de performances réunies nadaptés à vos besoins. Sachez
qu’aujourdh’ui, le twin tip peut s’acheter nu donc sans son
équipement pads straps pour vous laisser le choix car souvent
les majors proposent 2 gammes d’accessoires : entrée de
gamme (moins cher) et premium (quasi le double du prix).
Vous pouvez également conserver votre TT et l’équiper avec
un ensemble pads-straps d’une autre marque. Dans ce cas
là, vérifiez bien en amont que les platines s’adaptent bien
à votre planche, l’entraxe doit être identique. Bien sur, il est
conseillé d’acheter planche et accessoires de la même
marque car tout sera pensé et optimisé pour votre confort.
            </div>
       <h2><small class="subtitle"># Twin-Tip</small></h2>
          </div>
        </div>
<div class="d-flex flex-row justify-content-around">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contrôle: slashy - rail</h5>
        <p class="card-text">Toutes les boards ont désormais une bon contrôle mais on différencie
deux comportements.
D’un côté, un TT qui va avoir tendance à déraper. Il va falloir un
bon niveau technique pour l’exploiter. On parle d’une tendance
slashy qui sera appréciée pour certaines manoeuvres. Il ne s’agit
pas du tout d’un défaut, c’est une question de style. En revanche,
on classera un TT “rail” quand on sera calé comme sur un rail dans
toutes les conditions, avec beaucoup d’accroche. Il aura alors
souvent moins de maniabilité.</p>
       </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Maniabilité: maniable - joueur</h5>
        <p class="card-text">Cette fois, on a voulu faire ressortir le côté “skate” d’une board.
Tous les TT sont maniables puisque l’on peut sans souci passer en
frontside facilement. Mais certains seront plus joueurs que d’autres,
souvent grâce au scoop tendu ou non. Encore une fois, ce sont des
sensations et non pas des points positifs ou négatifs, à toi de voir
comment tu aimes ton twin tip !</p>
      </div>
    </div>
  </div>
</div>
      <div class="container tim-container m-3">
       <h2><small class="subtitle"># Equipment</small></h2>
          <div class="ml-5" style="width:200px">
            <img src="assets/teststrap/strap.jpg" alt="Rounded Image" class="card">
          </div>

       <h3><small class="subtitle">Pads / straps</small></h3>

        <div class="d-flex flex-row">
          <div class="card m-3 p-3">
            <p>Le poids : l’ensemble pads/straps doit conserver un minimum
de légèreté afin de ne pas pénaliser le poids total planche +
équipement.
le nombre de Velcros : 1 - 2 ou 4 Plus il y en a plus mieux c’est ? Plus ou
moins…mais 4 Velcros vous permettent d’ajuster indépendamment
votre coup de pied et s’adapter à votre anatomie.
le prix : le confort ou la technicté ont un prix et l’ensemble le plus
cher n’est pas forcément le plus adapté à votre morphologie.</p>
          </div>   

<div class="card col-md-4">
  <div class="m-1 row d-flex justify-content-around">
  <h3>Pads </h3>
    <div class="m-1 card col-md-8">
      <div class="row d-flex justify-content-center">
      <h5> soft</h5>
      <i class="p-1 mt-3 fas fa-square"></i><i class="p-1 mt-3 fas fa-square" style="fa2"></i><i class="pt-1 mt-3 m-1 fas fa-square"></i><i class="pt-1 mt-3 m-1 far fa-square"></i><i class="pt-1 mt-3 m-1 far fa-square"></i><h5>Hard</h5>
      </div>
    </div>
  </div>
  <div class="m-1 row d-flex justify-content-around">
  <h3>Straps</h3>
    <div class="m-1 card col-md-8">
      <div class="row d-flex justify-content-center">
      <h5>Souples</h5>
      <i class="p-1 mt-3 fas fa-square"></i><i class="p-1 mt-3 fas fa-square" style="fa2"></i><i class="pt-1 mt-3 m-1 far fa-square"></i><i class="pt-1 mt-3 m-1 far fa-square"></i><i class="pt-1 mt-3 m-1 far fa-square"></i><h5>Rigides</h5>
      </div>
    </div>
  </div>
</div>
        </div> 

        <div class="d-flex flex-row">


</div>

       <h2><small class="subtitle">Quel est ton programme ?</small></h2>

        <div class="m-3 d-flex flex-row">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Freeride / Freestyle</h5>
        <p class="card-text">C’est clairement le TT qui convient le mieux à quasiment tout le
monde. Il est polyvalent, tu peux aller vite et te dépasser en freeride
tout en ayant un bon contrôle et du pop pour enchaîner les sauts
aile haute. C’est souvent le fer de lance de chaque marque. Tu vas
privilégier le confort dans la clapot, la facilité au cap et surtout la
polyvalence.</p>
       </div>
    </div>
  </div>


          <div class="card m-3 p-3" style="width:60%">
	    <h6>Maniabilité: 1/5</h6>
	    <div class="progress">
	      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 20%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	    </div>
	    <h6>New-School : 4/5</h6>
	    <div class="progress">
	      <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	    </div>
	    <h6>Freeride / Freestyle: 2/5</h6>
	    <div class="progress">
  	      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	    </div>
	    <h6>Progression: 3/5</h6>
	    <div class="progress">
  	      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	    </div>
	    <h6>Contrôle: 5/5</h6>
	    <div class="progress">
  	      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	    </div>
	  </div>




	</div>

 <div class="d-flex flex-row">

    <div class="card m-3 p-3">
         <h5 class="card-title">New School Wakestyle</h5>
        <p class="card-text">On rentre dans la catégorie qui représente pour beaucoup le graal.
Il faut savoir que ces TT son accessibles même s’ils restent plutôt
“rigides” en navigation et demandent d’avoir un bon bagage
technique et une condition physique pour en tirer le meilleur parti.
Ils sont optimisés pour le blocage, pour délivrer du pop et tutoyer
les tricks aile basse et autres passages de bâton. Ces TT sont
également pour la plupart étudiés pour recevoir des chausses, voire
pour aller enchaîner des sessions de câble en cas de pétole. Ne
vous étonnez pas de trouver dans notre sélection beaucoup de nos
coups de coeur car ces boards sont de plus en plus accessibles et
polyvalentes.</p>
      </div>


	  <div class="card m-3 p-3">
	    <canvas id="birdsChart" width="300px" height="200px"></canvas>
	    <script>
		var birdsCanvas = document.getElementById("birdsChart");
		var birdsData = {
		  labels: ["Maniabilité","New-School","Freeride / Freestyle","Progression","Contrôle"],
		  datasets: [{
		    data: [ 4, 2, 3, 5, 1, 4],
		    backgroundColor: [
		      "rgba(255, 0, 0, 0.5)",
		      "#cde9ce",
 		      "rgba(200, 50, 255, 0.5)",
 		      "rgba(0, 100, 255, 0.5)",
		      "rgba(255, 0, 0, 0.5)"
		    ]
		  }]
		};

		var polarAreaChart = new Chart(birdsCanvas, {
		  type: 'polarArea',
		  data: birdsData
		});
	    </script>
	  </div>

  </div>
	</div>

    <a href="#navtest" class="p-3 scrollup d-flex justify-content-end align-items-end"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>

  </section>


<section id="intro">
<br><br><br>
<div class="jumbotron" style="background-image: url(/assets/introtest2.jpg); background-size: 100%;">
   <div class="container for-about">
   <h1>Comment sont fait nos tests</h1>
   </div>
</div>
    <div class="container tim-container m-3">
        <div id="extras">
            <div class="space"></div>
            <div class="row">
                <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                        <img src="assets/commentsontfaitnostests.jpg" alt="Rounded Image" class="img-rounded img-responsive img-dog" style="width:100%">
			<br><br>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                                <h1 class="text-center">Twin Tip</h1>
                                
                                <h2><small class="subtitle">La Board du kitesurfer</small></h2>
                                <hr>
                                <p>C’est à 99 % la planche avec laquelle on a tous débuté le
kitesurf. Ce sera même peut-être la seule et unique board
que vous utiliserez tout au long de votre «carrière» de rider.
Ce n’est donc pas un invetsissement à prendre à la légère
et chaque détail compte pour que l’ensemble réponde à
vos attentes.
Les marques ont développé une planche d’un côté et un
équipement de l’autre afin d’avoir le plus de confort et
de performances réunies nadaptés à vos besoins. Sachez
qu’aujourdh’ui, le twin tip peut s’acheter nu donc sans son
équipement pads straps pour vous laisser le choix car souvent
les majors proposent 2 gammes d’accessoires : entrée de
gamme (moins cher) et premium (quasi le double du prix).
Vous pouvez également conserver votre TT et l’équiper avec
un ensemble pads-straps d’une autre marque. Dans ce cas
là, vérifiez bien en amont que les platines s’adaptent bien
à votre planche, l’entraxe doit être identique. Bien sur, il est
conseillé d’acheter planche et accessoires de la même
marque car tout sera pensé et optimisé pour votre confort.</p>
                </div>
            </div>
        </div>
    <!--     end extras -->    
    </div>
<!-- end container -->
</section>

<section id="board">
<div class="jumbotron" style="background-image: url(/assets/introtestkite.jpg); background-size: 100%;">
   <div class="container for-about">
   <h1>Twin-tip</h1>
   </div>
</div>

<div class="row">
<% @boards.each do |t, index| %>

<div class="card-deck m-3">
  <div class="row mx-3">  
    <div style="max-width: 600px;">
        <a href="<%= board_path(t) %>">
  <h3 class="card-header"><%= t.brand %>
  </h3>
	<div class="img-raised rounded img-fluid p-2">
	<img src="assets/testboard/board.jpg">
 	<img src="assets/testboard/boardback.jpg">
          <h3 class="card-title"><%= t.name %></h3><h4><i class="fas fa-heart"></i> <%= t.favorite %></h4>
	</div>
    </div>
  </div></a>
</div>
<%end%>
</div>
</section>

<section id="compare">
<div class="jumbotron" style="background-image: url(/assets/introtestkite.jpg); background-size: 100%;">
   <div class="container for-about">
   <h1>comparer twin-tip</h1>
   </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Control</th>
      <th scope="col">Progression</th>
      <th scope="col">Freeride</th>
      <th scope="col">Freestyle</th>
      <th scope="col">Maniability</th>
    </tr>
  </thead>
      <% @boards.each do |t, index| %>
  <tbody>
    <tr>
      <th scope="row"><%= t.name %></th>
      <td><% while @control < t.control %>
	    <i class="fas fa-star"></i>
	    <% @control = @control + 1 %>
	  <%end%>
	  <% @control = 0 %>
      </td>
      <td><% while @progression < t.progression %>
	    <i class="fas fa-star"></i>
	    <% @progression = @progression + 1 %>
	  <%end%>
	  <% @progression = 0 %>
      </td>
      <td><% while @freeride < t.freeride %>
	    <i class="fas fa-star"></i>
	    <% @freeride = @freeride + 1 %>
	  <%end%>
	  <% @freeride = 0 %>
      </td>
      <td><% while @freestyle < t.freestyle %>
	    <i class="fas fa-star"></i>
	    <% @freestyle = @freestyle + 1 %>
	  <%end%>
	  <% @freestyle = 0 %>
      </td>
      <td><% while @maniability < t.maniability %>
	    <i class="fas fa-star"></i>
	    <% @maniability = @maniability + 1 %>
	  <%end%>
	  <% @maniability = 0 %>
      </td>

    </tr>
  </tbody>
<%end%>
</table> 
</section>


<section id="presentation">
<div class="jumbotron" style="background-image: url(/assets/introtestkite.jpg); background-size: 100%;">
   <div class="container for-about">
   <h1>Ils ont testé pour vous</h1>
   </div>
</div>

        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/assets/Hugo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Hugo
                    <br>
                    <small class="card-description text-muted">Model</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/assets/Greg.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Greg
                    <br>
                    <small class="card-description text-muted">Designer</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/assets/Marvin.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Marvin
                    <br>
                    <small class="card-description text-muted">Model</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
   </section>

<br>
<br>
<br>
    <%= yield %>

  </body>
</html>

