<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>

<br>
<br>
<br>
<br>
<br>
	Page kitesurf mag test kite index
<br>

<% @kites.each do |t, index| %>
<div class="card-deck">
<div class="row mx-5">
  
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4 m-2 pl-2">
        <img src="assets/bandit" class="img-raised rounded img-fluid" alt="...">
          <p class="card-text m-1"><small class="text-muted"><a href="<%= kite_path(t) %>" class="btn btn-primary">voir test complet</a></small></p>
      </div>
      <div class="col-md-6 m-2">
        <div class="card-body">
          <h3 class="card-title"><%= t.brand %> <%= t.name %></h3>
          <p class="card-text">	      Wave : <%= t.wave %> 
              <% while @wave < t.wave %>
	        <i class="fas fa-star"></i>
	        <% @wave = @wave + 1 %>
	      <%end%>
              <% while @wave < 5 %>
	        <i class="far fa-star"></i>
                <% @wave = @wave + 1 %>
              <%end%>
		<% @wave = 0 %>
		<br>
	      Big Air <%= t.bigair %>
              <% while @bigair < t.bigair %>
	        <i class="fas fa-star"></i>
	        <% @bigair = @bigair + 1 %>
	      <%end%>
              <% while @bigair < 5 %>
	        <i class="far fa-star"></i>
                <% @bigair = @bigair + 1 %>
              <%end%>
		<% @bigair = 0 %>
		<br>
	      Freeride <%= t.freeride %> 
              <% while @freeride < t.freeride %>
	        <i class="fas fa-star"></i>
	        <% @freeride = @freeride + 1 %>
	      <%end%>
              <% while @freeride < 5 %>
	        <i class="far fa-star"></i>
                <% @freeride = @freeride + 1 %>
              <%end%>
		<% @freeride = 0 %>
		<br>
	      Freestyle <%= t.freestyle %> 
              <% while @freestyle < t.freestyle %>
	        <i class="fas fa-star"></i>
	        <% @freestyle = @freestyle + 1 %>
	      <%end%>
              <% while @freestyle < 5 %>
	        <i class="far fa-star"></i>
                <% @freestyle = @freestyle + 1 %>
              <%end%>
		<% @freestyle = 0 %>
		<br>
	      Maniability <%= t.maniability %> 
              <% while @maniability < t.maniability %>
	        <i class="fas fa-star"></i>
	        <% @maniability = @maniability + 1 %>
	      <%end%>
      		<% while @maniability < 5 %>
	        <i class="far fa-star"></i>
        	<% @maniability = @maniability + 1 %>
              <%end%>
		<% @maniability = 0 %>
		<br>
	      Feeling <%= t.feeling %> 
              <% while @feeling < t.feeling %>
		<i class="fas fa-star"></i>
		<% @feeling = @feeling + 1 %>
	      <%end%>
              <% while @feeling < 5 %>
		<i class="far fa-star"></i>
        	<% @feeling = @feeling + 1 %>
              <%end%>
		<% @feeling = 0 %>

          </p>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
<%end%>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<table class="table">

  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">
	<label for="kite-select">Choose a kite:</label>
	<select name="kite" id="kite-select">
	<option value="">--Please choose an option--</option>
      <% @kites.each do |t, index| %>
	<option value="a"><%= t.name %></option>
	<%end%>
	</select>
      </th>
      <th scope="col">
	<label for="kite-select">Choose a kite:</label>
	<select name="kite" id="kite-select">
	<option value="">--Please choose an option--</option>
      <% @kites.each do |t, index| %>
	<option value="a"><%= t.name %></option>
	<%end%>
	</select>
      </th>      
      <th scope="col">

      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
	</tr>
	<tr>
      <th scope="row">Wave</th>
      <td>
	<% @kites.each do |t, index| %>
	<% while @wave < t.wave %>
	    <i class="fas fa-star"></i>
	    <% @wave = @wave + 1 %>
	  <%end%>
              <% while @wave < 5 %>
	        <i class="far fa-star"></i>
                <% @wave = @wave + 1 %>
              <%end%>
	  <% @wave = 0 %>
	<%end%>
      </td>
	</tr>

	<tr>
      <th scope="row">Big Air</th>
	<td>
	<% @kites %>
              <% while @bigair < 3 %>
	        <i class="fas fa-star"></i>
	        <% @bigair = @bigair + 1 %>
	      <%end%>
              <% while @bigair < 5 %>
	        <i class="far fa-star"></i>
                <% @bigair = @bigair + 1 %>
              <%end%>
		<% @bigair = 0 %>
		</td>
	</tr>
	<tr>
      <th scope="row">Freeride</th>
</tr>
<tr>
      <th scope="row">Freestyle</th>
</tr>
<tr>
      <th scope="row">Maniability</th>
</tr>
<tr>
      <th scope="row">Feeling</th>
    </tr>
  </tbody>
</table>

      <% @kites.each do |t, index| %>

      <td><% while @wave < t.wave %>
	    <i class="fas fa-star"></i>
	    <% @wave = @wave + 1 %>
	  <%end%>
	  <% @wave = 0 %>
      </td>
      <td><% while @bigair < t.bigair %>
	    <i class="fas fa-star"></i>
	    <% @bigair = @bigair + 1 %>
	  <%end%>
	  <% @bigair = 0 %>
      </td>
      <td><% while @freeride < t.freeride %>
	    <i class="fas fa-star"></i>
	    <% @freeride = @freeride + 1 %>
	  <%end%>
	  <% @freeride = 0 %>
      </td>
      <td><% while @freestyle < t.freestyle %>
	    <i class="fas fa-star"></i>
	    <% @freestyle = @freestyle + 1 %>
	  <%end%>
	  <% @freestyle = 0 %>
      </td>
      <td><% while @maniability < t.maniability %>
	    <i class="fas fa-star"></i>
	    <% @maniability = @maniability + 1 %>
	  <%end%>
	  <% @maniability = 0 %>
      </td>
      <td><% while @feeling < t.feeling %>
	    <i class="fas fa-star"></i>
	    <% @feeling = @feeling + 1 %>
	  <%end%>
	  <% @feeling = 0 %>
      </td>

    </tr>
  </tbody>
<%end%>

    <%= yield %>
  </body>
</html>
