<!DOCTYPE html>

<body class="profile-page sidebar-collapse">

  <div class="page-header" data-parallax="true" style="background-image: url('/assets/Cape_Town.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="/assets/testkite/bandit.jpg" alt="Circle Image" class="img-raised rounded img-fluid">
              </div>
	    </div>
	  </div>
          <div class="col-md-4 ml-auto mr-auto">
            <div class="profile">
              <div class="name">
                <h3 class="title"><%= @kite.brand %> <%= @kite.name %></h3>
                <h6>Domain : <%= @kite.domain %></h6>
                <h6>Taille testé : <%= @kite.testsize %>m</h6>
                <h6>Son point fort : <%= @kite.favorite %></h6>
                <h6>Taille disponible : <%= @kite.wind %></h6>
                <h6>Prix en shop : <%= @kite.price %>€ pour une <%= @kite.testsize %>m nue</h6>

              </div>
            </div>
          </div>
        </div>
	</div>
	</div>

        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#resume" role="tab" data-toggle="tab">
                    <i class="fas fa-id-card"></i> présentation
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#zoom" role="tab" data-toggle="tab">
                    <i class="material-icons">camera</i> Zoom
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#water" role="tab" data-toggle="tab">
                    <i class="fas fa-images"></i> photos
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#competence" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> competences
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                    <i class="fas fa-video"></i> video
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="tab-content tab-space">
          <div class="tab-pane active text-center gallery" id="resume">
            <div class="row">
        <div class="description text-center">
          <p class="card-text"><%= @kite.description %></p>
        </div>

            </div>
          </div>

          <div class="tab-pane text-center gallery" id="zoom">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="/assets/testkite/bridage bandit.jpg" class="rounded">
                <img src="/assets/testkite/valve bandit.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="/assets/testkite/poulie bandit.jpg" class="rounded">
                <img src="/assets/testkite/bandit.jpg" class="rounded">

              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="water">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="/assets/testkite/bandit ride.jpg" class="rounded">
                <img src="/assets/examples/clem-onojegaw.jpg" class="rounded">
                <img src="/assets/testkite/bandit ride.jpg" class="rounded">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="/assets/examples/mariya-georgieva.jpg" class="rounded">
                <img src="/assets/testkite/bandit ride.jpg" class="rounded">
                <img src="/assets/testkite/bandit.jpg" class="rounded">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="competence">
            <div class="row">

	  <div class="card card-body m-2" style="width: 300px">
            <p class="card-text">
	      Wave : <%= @kite.wave %> 
              <% while @wave < @kite.wave %>
	        <i class="fas fa-star"></i>
	        <% @wave = @wave + 1 %>
	      <%end%>
              <% while @wave < 5 %>
	        <i class="far fa-star"></i>
                <% @wave = @wave + 1 %>
              <%end%>
		<% @wave = 0 %>
		<br>
	      Big Air <%= @kite.bigair %>
              <% while @bigair < @kite.bigair %>
	        <i class="fas fa-star"></i>
	        <% @bigair = @bigair + 1 %>
	      <%end%>
              <% while @bigair < 5 %>
	        <i class="far fa-star"></i>
                <% @bigair = @bigair + 1 %>
              <%end%>
		<% @bigair = 0 %>
		<br>
	      Freeride <%= @kite.freeride %> 
              <% while @freeride < @kite.freeride %>
	        <i class="fas fa-star"></i>
	        <% @freeride = @freeride + 1 %>
	      <%end%>
              <% while @freeride < 5 %>
	        <i class="far fa-star"></i>
                <% @freeride = @freeride + 1 %>
              <%end%>
		<% @freeride = 0 %>
		<br>
	      Freestyle <%= @kite.freestyle %> 
              <% while @freestyle < @kite.freestyle %>
	        <i class="fas fa-star"></i>
	        <% @freestyle = @freestyle + 1 %>
	      <%end%>
              <% while @freestyle < 5 %>
	        <i class="far fa-star"></i>
                <% @freestyle = @freestyle + 1 %>
              <%end%>
		<% @freestyle = 0 %>
		<br>
	      Maniability <%= @kite.maniability %> 
              <% while @maniability < @kite.maniability %>
	        <i class="fas fa-star"></i>
	        <% @maniability = @maniability + 1 %>
	      <%end%>
      		<% while @maniability < 5 %>
	        <i class="far fa-star"></i>
        	<% @maniability = @maniability + 1 %>
              <%end%>
		<% @maniability = 0 %>
		<br>
	      Feeling <%= @kite.feeling %> 
              <% while @feeling < @kite.feeling %>
		<i class="fas fa-star"></i>
		<% @feeling = @feeling + 1 %>
	      <%end%>
              <% while @feeling < 5 %>
		<i class="far fa-star"></i>
        	<% @feeling = @feeling + 1 %>
              <%end%>
		<% @feeling = 0 %>
            </p>
	  </div>

            </div>
          </div>
          <div class="tab-pane text-center gallery" id="favorite">
            <div class="row">
              <div class="col-md-3 mr-auto">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZhDjjSTaDcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
              </div>
            </div>
          </div>
        </div>

    </div>
      </div>

  </div>
</body>






