<%= render "layouts/navbar" %>
<br>
<br>
<div class="card">
  <div class="card-body">
    <h4 class="text"> <%= @kite.name %></h4>
    <h5 class="text"><i class="fas fa-arrow-alt-circle-right"></i> <%= @kite.domain %></h5>
    <h5 class="text"><i class="fas fa-heart"></i> <%= @kite.favorite %></h5>



  <div class="card p-2">
    <div class="row d-flex justify-content-around">

      <div class="card p-2">
        <div class="col-sm-6">
          <%= image_tag "/assets/bandit ride.jpg", alt: "photo bandit app" %>
        </div>
      </div>

      <div class="card p-2">
        <div class="col-sm-6">
          <%= image_tag "/assets/bandit.jpg", alt: "photo bandit ruby" %>
        </div>
        <div class="card-body">
          <%= image_tag "/assets/bridage bandit.jpg", alt: "photo bandit ruby" %>
          <%= image_tag "/assets/valve bandit.jpg", alt: "photo bandit ruby" %>
          <%= image_tag "/assets/poulie bandit.jpg", alt: "photo bandit ruby" %>
        </div>
      </div>

    </div>
  </div>

<br>
<br>

  <div class="card p-2">
    <div class="row d-flex justify-content-around">

      <div class="card">
        <div class="col-sm-6">
	  <div class="card card-body m-2" style="width: 400px">
            <p class="card-text">
	      Wave : <%= @kite.wave %> 
              <% while @wave < @kite.wave %>
	        <i class="fas fa-star"></i>
	        <% @wave = @wave + 1 %>
	      <%end%>
              <% while @wave < 5 %>
	        <i class="far fa-star"></i>
                <% @wave = @wave + 1 %>
              <%end%>
		<% @wave = 0 %>
		<br>
	      Big Air <%= @kite.bigair %>
              <% while @bigair < @kite.bigair %>
	        <i class="fas fa-star"></i>
	        <% @bigair = @bigair + 1 %>
	      <%end%>
              <% while @bigair < 5 %>
	        <i class="far fa-star"></i>
                <% @bigair = @bigair + 1 %>
              <%end%>
		<% @bigair = 0 %>
		<br>
	      Freeride <%= @kite.freeride %> 
              <% while @freeride < @kite.freeride %>
	        <i class="fas fa-star"></i>
	        <% @freeride = @freeride + 1 %>
	      <%end%>
              <% while @freeride < 5 %>
	        <i class="far fa-star"></i>
                <% @freeride = @freeride + 1 %>
              <%end%>
		<% @freeride = 0 %>
		<br>
	      Freestyle <%= @kite.freestyle %> 
              <% while @freestyle < @kite.freestyle %>
	        <i class="fas fa-star"></i>
	        <% @freestyle = @freestyle + 1 %>
	      <%end%>
              <% while @freestyle < 5 %>
	        <i class="far fa-star"></i>
                <% @freestyle = @freestyle + 1 %>
              <%end%>
		<% @freestyle = 0 %>
		<br>
	      Maniability <%= @kite.maniability %> 
              <% while @maniability < @kite.maniability %>
	        <i class="fas fa-star"></i>
	        <% @maniability = @maniability + 1 %>
	      <%end%>
      		<% while @maniability < 5 %>
	        <i class="far fa-star"></i>
        	<% @maniability = @maniability + 1 %>
              <%end%>
		<% @maniability = 0 %>
		<br>
	      Feeling <%= @kite.feeling %> 
              <% while @feeling < @kite.feeling %>
		<i class="fas fa-star"></i>
		<% @feeling = @feeling + 1 %>
	      <%end%>
              <% while @feeling < 5 %>
		<i class="far fa-star"></i>
        	<% @feeling = @feeling + 1 %>
              <%end%>
		<% @feeling = 0 %>
            </p>
	  </div>
        </div>

        <div class="card-body">
	  <div class="card">
            <%= image_tag "/assets/barre bandit.jpg", alt: "photo bandit ruby" %>
	  </div>
        </div>
      </div>

      <div class="card p-2">
          <div class="card card-body" style="width: 600px">
            <h2 class="text"> <%= @kite.name %></h4>
	    <h3 class="text"> <%= @kite.marque %></h3>	
            <p class="card-text"><small class="text-muted">voile 9m nue : <%= @kite.price %>€</small></p>
	    <h6 class="card-text text-muted">taille disponible : <%= @kite.wind %></h6>	
        </div>

	<div class="card bg-light m-2" style="max-width: 50rem;">
	  <div class="card-body">
	    <p class="card-text"><%= @kite.description %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
    ID : <%= @kite.id %> <br>
</div>
<div class="card">
<div class="rond">
<div class="card" style="width:100px lenght:100px">
  <div class="rond2">
    <div class="rond3">
      <div class="rond4">
	<div class="rond5">
	  <div class="rond6">
	    <div class="rond7">
	      <div class="rond8">
		<div class="rond9">
		<div class="rond10">
		  <div class="horizontale">
		    <div class="verticale">
		      <div class="oblique">
			<div class="oblique2">
			</div>
		      </div>
		    </div>
		  </div>
		</div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
</div>	
</div>


<div class="card">
<div class="rond">
  <div class="rond2">
    <div class="rond3">
      <div class="rond4">
	<div class="rond5">
	  <div class="rond6">
	    <div class="rond7">
	      <div class="rond8">
		<div class="rond9">
		<div class="rond10">
		  <div class="horizontale">
		    <div class="verticale">
		      <div class="oblique">
			<div class="oblique2">
			</div>
		      </div>
		    </div>
		  </div>
		</div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
</div>	


<div class="card">
  <div class="rond">
  </div>
</div>

<div class="card">
<div class="rondTriangle">
</div>
</div>

<div class="card">
<div class="competences">
</div>
</div>
	  <div class="card card-body m-2" style="width: 400px">
            <p class="card-text">
	      Wave : <%= @kite.wave %> 
              <% while @wave < @kite.wave %>
	        <i class="fas fa-star"></i>
	        <% @wave = @wave + 1 %>
	      <%end%>
              <% while @wave < 5 %>
	        <i class="far fa-star"></i>
                <% @wave = @wave + 1 %>
              <%end%>
		<% @wave = 0 %>
		<br>
	      Big Air <%= @kite.bigair %>
              <% while @bigair < @kite.bigair %>
	        <i class="fas fa-star"></i>
	        <% @bigair = @bigair + 1 %>
	      <%end%>
              <% while @bigair < 5 %>
	        <i class="far fa-star"></i>
                <% @bigair = @bigair + 1 %>
              <%end%>
		<% @bigair = 0 %>
		<br>
	      Freeride <%= @kite.freeride %> 
              <% while @freeride < @kite.freeride %>
	        <i class="fas fa-star"></i>
	        <% @freeride = @freeride + 1 %>
	      <%end%>
              <% while @freeride < 5 %>
	        <i class="far fa-star"></i>
                <% @freeride = @freeride + 1 %>
              <%end%>
		<% @freeride = 0 %>
		<br>
	      Freestyle <%= @kite.freestyle %> 
              <% while @freestyle < @kite.freestyle %>
	        <i class="fas fa-star"></i>
	        <% @freestyle = @freestyle + 1 %>
	      <%end%>
              <% while @freestyle < 5 %>
	        <i class="far fa-star"></i>
                <% @freestyle = @freestyle + 1 %>
              <%end%>
		<% @freestyle = 0 %>
		<br>
	      Maniability <%= @kite.maniability %> 
              <% while @maniability < @kite.maniability %>
	        <i class="fas fa-star"></i>
	        <% @maniability = @maniability + 1 %>
	      <%end%>
      		<% while @maniability < 5 %>
	        <i class="far fa-star"></i>
        	<% @maniability = @maniability + 1 %>
              <%end%>
		<% @maniability = 0 %>
		<br>
	      Feeling <%= @kite.feeling %> 
              <% while @feeling < @kite.feeling %>
		<i class="fas fa-star"></i>
		<% @feeling = @feeling + 1 %>
	      <%end%>
              <% while @feeling < 5 %>
		<i class="far fa-star"></i>
        	<% @feeling = @feeling + 1 %>
              <%end%>
		<% @feeling = 0 %>
            </p>
	  </div>
        </div>

