<%= render "layouts/navbartest" %>
<body class="pt-5 profile-page sidebar-collapse">
<div class="page-header" data-parallax="true" style="background-image: url('/assets/Cape_Town.jpg');"></div>
  <div class="main main-raised p-2">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="/assets/testkite/bandit.png" alt="Circle Image" class="img-raised rounded img-fluid">
                <img src="/assets/testkite/bridage bandit.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:100px">
                <img src="/assets/testkite/valve bandit.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:100px">
                <img src="/assets/testkite/poulie bandit.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid m-4" style="width:100px">
              </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <h1 class="title" id="navshow"> <%= @kite.name %></h1>
	<h3 class="ml-4"> by <%= @kite.brand %></h3>

    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="profile-tabs">
          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
	    <li class="nav-item">
              <%= link_to kite_index_path, class:"nav-link" do %>
		<i class="text-center text-warning fas fa-chevron-left"></i>
		<h6 class="text-center text-warning">Tous les kites</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "idcard"), class:"nav-link active" do %>
              <i class="text-center text-warning fas fa-id-card"></i>
		<h6 class="text-center text-warning">Id Card</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "resume"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-comment-dots"></i>
		<h6 class="text-center text-warning">En bref</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "zoom"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-images"></i>
		<h6 class="text-center text-warning">Zoom</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "competence"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-cogs"></i>
		<h6 class="text-center text-warning">Competences</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "video"), class:"nav-link" do %>
              <i class="text-center text-warning fas fa-video"></i>
		<h6 class="text-center text-warning">Video</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to kite_path(anchor: "shop"), class:"nav-link disabled" do %>
              <i class="text-center text-warning fas fa-shopping-cart"></i>
		<h6 class="text-center text-muted">Buy</h6>
		<%end%>
            </li>
	    <li class="nav-item">
              <%= link_to board_index_path, class:"nav-link" do %>
		<i class="text-center text-warning fas fa-chevron-right"></i>
		<h6 class="text-center text-warning">Tous les Twin-Tips</h6>
		<%end%>
            </li>
          </ul>
        </div>
      </div>
    </div>





	<section id="idcard">
          <h2 class="ml-5 fas fa-id-card"> Id Card</h2>
	<div class="d-flex justify-content-center">
          <div class="col-md-8">
            <div class="name">
	      <div class="card pb-4">
	        <div class="row">
		  <div class="col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                      <h2 class=""><i class="fas fa-id-badge"></i> <%= @kite.name %></h2>
                      <img src="/assets/testkite/bandit ride.jpg" alt="Thumbnail Image" class="img-raised rounded img-fluid mt-2" style="width:200px">
                    </div>
                  </div>
                  <div class="mt-5 col-md-5 col-sm-12">
                    <h6><i class="fas fa-heart"></i>  Son point fort : <%= @kite.favorite %></h6>
                    <h6>Domain : <%= @kite.domain %></h6>
                    <h6>Taille testé : <%= @kite.testsize %>m</h6>
                    <h6>Tailles disponible : <%= @kite.wind %></h6>
                    <h6>Prix en shop : <%= @kite.price %>€ pour une <%= @kite.testsize %>m nue</h6>
		    <h6>nombre de lattes : <%= @kite.strut %></h6>
		    <h6>type de bridage : <%= @kite.bridle %></h6>
		    <h6>millésime : <%= @kite.year %></h6>
		    <a class="btn btn-success" href="<%= @kite.link %>" target="blank_">more details</a>
		  </div>
                </div>
  		<a href="#navshow" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
              </div>
            </div>
          </div>
	</div>
	</section>

	<section id="resume">
          <h2 class="ml-5 fas fa-comment-dots"> En bref</h2>
	<div class="d-flex justify-content-center">
	  <div class="card col-lg-8 m-3 p-3">
            <div class="row">
              <div class="col-md-3">
                <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
                  <div class="col-md-12 ml-auto mr-auto">
                    <img src="/assets/Hugo.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content">
		  <p><%= @kite.description %></p>
                </div>
              </div>
            </div>
  		<a href="#navshow" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
          </div>
	</div>
	</section>

	<section id="zoom">
	          <h2 class="ml-5 fas fa-images"> Zoom</h2>
	<div class="d-flex justify-content-center">
	  <div class="card col-lg-8 m-3">
            <div class="row">
              <div class="col-md-3 ml-auto">
                <img src="/assets/testkite/bandit.jpg" class="rounded" style="width:200px">
                <img src="/assets/testkite/valve bandit.jpg" class="rounded" style="width:200px">
              </div>
              <div class="col-md-3 mr-auto">
                <img src="/assets/testkite/poulie bandit.jpg" class="rounded" style="width:200px">
                <img src="/assets/testkite/bridage bandit.jpg" class="rounded" style="width:200px">
              </div>
            </div>
  		<a href="#navshow" class="scrollup d-flex justify-content-end align-items-end m-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
	  </div>
	</div>
	</section>

	<section id="competence">
          <h2 class="ml-5 fas fa-cogs"> Compétences</h2>

<div class="m-3 d-flex flex-row">

<div class="card m-3 p-3" style="width:60%">
<h6>Wave : <%= @kite.wave %>/5</h6>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: <%= @kite.wave*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Big Air: <%= @kite.bigair %>/5</h6>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= @kite.bigair*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Freeride: <%= @kite.freeride %>/5</h6>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: <%= @kite.freeride*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Freestyle: <%= @kite.freestyle %>/5</h6>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: <%= @kite.freestyle*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Maniability: <%= @kite.maniability %>/5</h6>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: <%= @kite.maniability*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<h6>Feeling: <%= @kite.feeling %>/5</h6>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-rose" role="progressbar" style="width: <%= @kite.feeling*20 %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>


<div class="card m-3 p-3">
<canvas id="birdsChart" width="500px" height="200px"></canvas>
<script>
var birdsCanvas = document.getElementById("birdsChart");

var birdsData = {
  labels: ["Wave","Big Air","Freeride","Freestyle","Maniability","Feeling"],
  datasets: [{
    data: [<%= @kite.wave %>,<%= @kite.bigair %>, <%= @kite.freeride %>, <%= @kite.freestyle %>, <%= @kite.maniability %>, <%= @kite.feeling %>],
    backgroundColor: [
      "rgba(255, 0, 0, 0.5)",
      "#cde9ce",
      "rgba(200, 50, 255, 0.5)",
      "rgba(0, 100, 255, 0.5)",
      "rgba(255, 0, 0, 0.5)",
      "rgba(100, 255, 0, 0.5)"
    ]
  }]
};

var polarAreaChart = new Chart(birdsCanvas, {
  type: 'polarArea',
  data: birdsData
});
</script>
  		<a href="#navshow" class="scrollup d-flex justify-content-end align-items-end"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
</div>


</div>

	</section>


        <section id="video">
          <h2 class="ml-5 fas fa-id-card"> Video</h2>
	<div class="d-flex justify-content-center">
            <div class="card row m-3 p-3 col-lg-8">
              <div class="d-flex justify-content-center">
		<iframe width="560" height="315" src="<%= @kite.picture %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	      </div>
  		<a href="#navshow" class="scrollup d-flex justify-content-end align-items-end mr-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
            </div>
	</div>
        </section>

	<section id="shop">
	          <h2 class="ml-5 fas fa-shopping-cart"> where buy</h2>
	<div class="d-flex justify-content-center">
	  <div class="card col-lg-8 m-3">
            <div class="row">
              <div class="col-md-3">
                <img src="/assets/testkite/bandit.png" class="rounded m-1" style="width:100px"> flysurf
                <img src="/assets/testkite/bandit.png" class="rounded m-1" style="width:100px"> vague et vent
                <img src="/assets/testkite/bandit.png" class="rounded m-1" style="width:100px"> corner chop
              </div>
            </div>
  		<a href="#navshow" class="scrollup d-flex justify-content-end align-items-end m-3"><i class="btn-sm btn-primary fa fa-caret-square-up"></i></a>
	  </div>
	</div>
	</section>

	<div class="d-flex justify-content-end">
              <a class="btn-primary btn-sm" href="<%= kite_index_path %>"><i class="fas fa-caret-square-left"></i>  Retour kites</a>
	</div>
    </div>
  </div>
</div>
</body>






