  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">

      <div class="navbar-logo d-flex justify-content-start">
        <a href="<%= root_path %>"><img data-0="width:155px;" data-300=" width:120px;" src="/assets/logo_KSM_mini.png" alt=""></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
	  <li class="nav-item mx-4">
            <%= link_to article_index_path, class:"nav-link" do %>
	      <i class="text-center far fa-newspaper" style="font-size:30px"></i>
	      <h6 class="text-center">Articles</h6>
	    <%end%>
          </li>
	  <li class="nav-item mx-4">
            <%= link_to trip_index_path, class:"nav-link" do %>
	      <i class="text-center far fa-compass" style="font-size:30px"></i>
	      <h6 class="text-center">Trip</h6>
	    <%end%>
          </li>
	  <li class="nav-item mx-4">
            <%= link_to portfolio_index_path, class:"nav-link" do %>
	      <i class="text-center fas fa-photo-video" style="font-size:30px"></i>
	      <h6 class="text-center">Portfolio</h6>
	    <%end%>
          </li>
	  <li class="nav-item mx-4">
            <%= link_to event_index_path, class:"nav-link" do %>
	      <i class="text-center far fa-calendar-check" style="font-size:30px"></i>
	      <h6 class="text-center">Event</h6>
	    <%end%>
          </li>
          <li class="dropdown nav-item mx-4">
            <a href="#" class="nav-link" data-toggle="dropdown">
		<i class="text-center fas fa-tasks" style="font-size:30px"></i>
	      <h6 class="text-center dropdown-toggle">Tests</h6>
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="<%= kite_index_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> Kites
              </a>
              <a href="<%= board_index_path %>" class="dropdown-item">
		<i class="fas fa-snowboarding" style="font-size:20px">   Twin-Tips</i>
	      </a>
              <a href="<%= surfboard_index_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> Surfboards
              </a>
              <a href="<%= foil_index_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> Foils
              </a>
                        <div class="dropdown-divider"></div>
              <a href="<%= bar_index_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> Barres
              </a>
              <a href="<%= strap_index_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> pads / straps
              </a>
              <a href="<%= accessory_index_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> harness / wetsuits
              </a>
                        <div class="dropdown-divider"></div>
              <a href="<%= wingfoil_index_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> Wingfoil
              </a>

            </div>
          </li>
          <li class="dropdown nav-item mx-4">
            <a href="#" class="nav-link" data-toggle="dropdown">
              <i class="text-center fas fa-cart-arrow-down" style="font-size:30px"></i>
		<h6 class="text-center dropdown-toggle">e-Shop</h6>
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="<%= shop_index_path %>" class="dropdown-item">
                <i class="material-icons">layers</i> Magazine (archives)
              </a>
              <a href="#" class="dropdown-item">
                <i class="material-icons">layers</i> Abonnement
              </a>
          <% if user_signed_in? %>
		<div class="dropdown-divider"></div>
                  <%= link_to "Mon Profil", user_path(current_user), class:"dropdown-item"%>
                <div class="dropdown-divider"></div>
                  <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
            </div>
	  <%else%>
		<div class="dropdown-divider"></div>
             <%= link_to " Se Connecter", new_user_session_path, class:"dropdown-item" %>
	  <%end%>
          </li>

        </ul>
      </div>
    </div>
  </nav>

