<div id="navbar-full">
    <div class="container">
        <nav class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
          
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="<%= article_index_path %>">
                     <div class="logo-container">
                            <img src="/assets/logo_KSM mini.png">
                    </div>
                </a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
		<a class="nav-link fab fa-facebook-square mt-1" href="https://www.facebook.com/kitesurfmag/" target="_blank"></a>
	  </li>
          <li class="nav-item">
		<a class="nav-link fab fa-twitter-square mt-1" href="https://twitter.com/Kitesurf_Mag" target="_blank"></a>
	  </li>
          <li class="nav-item">
		<a class="nav-link fab fa-instagram mt-1" href="https://www.instagram.com/kitesurfmagofficiel/" target="_blank"></a>
	  </li>
          <li class="nav-item">
		<a class="nav-link fab fa-youtube-square mt-1" href="https://www.youtube.com/user/sharkeye34/" target="_blank"></a>
	  </li>

                    <li><a href="#">Video</a></li>
                    <li><a href="#">Trips</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Portfolio</a></li>

                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Test<b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="<%= kite_index_path %>">Kites</a></li>
                                    <li><a class="dropdown-item" href="<%= board_index_path %>">Boards</a></li>
                                    <li><a class="dropdown-item" href="<%= surfboard_index_path %>">directionnelles</a></li>
                                    <li><a class="dropdown-item" href="<%= foil_index_path %>">foils</a></li>
                                    <li class="divider"></li>
                                    <li><a class="dropdown-item" href="<%= bar_index_path %>">barres</a></li>
				    <li><a class="dropdown-item" href="<%= strap_index_path %>">pads/straps</a></li>
				    <li><a class="dropdown-item" href="<%= accessory_index_path %>">accessoires</a></li>
                                    <li class="divider"></li>
                                    <li><a class="dropdown-item" href="<%= wingfoil_index_path %>">wingfoil</a></li>
                                  </ul>
                                </li>
               
      <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Shop<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Abonnement</a></li>
          <li><a class="dropdown-item" href="#">Magazine</a></li>
          <li class="divider"></li>
          <li><a class="dropdown-item" href="#">Mon compte</a></li>
        </ul>
      </li>

     
               </ul>
              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div><!--  end container-->
    
    
</div> 
